* {
  margin: 0;
  border: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 62,5%;
}

body {
  font-size: 10px;
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.container-music {
  width: 20rem;
  height: 30rem;
  background-color: #ffffff11;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 0 5rem #0010a4;
}

.container-music:hover {
  box-shadow: 0 0 2rem #FFF;
  filter: drop-shadow(0 0 1px #FFF);
}

#nomeAutor {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px #0010a4, 0 0 20px #0010a4, 0 0 40px #0010a4, 0 0 80px #0010a4, 0 0 160px #0010a4;
}

#nomeAutor:hover {
  text-shadow: 0 0 10px #0010a4;
  filter: drop-shadow(0 0 1px #FFF);
}

#nomeMusica {
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0 10px #0010a4, 0 0 20px #0010a4, 0 0 40px #0010a4, 0 0 80px #0010a4, 0 0 160px #0010a4;
}

#nomeMusica:hover {
  text-shadow: 0 0 10px #0010a4;
  filter: drop-shadow(0 0 1px #FFF);
}

#imagemMusica {
  width: 9rem;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #0010a4);
  animation: girar 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all 0.4s;
}

#imagemMusica:hover {
  animation: girarReverso 20s;
  animation-timing-function: linear;
  filter: drop-shadow(0 0 10px #FFF);
}

#controles {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.6rem;
}

.botao {
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0 0 10px #0010a4);
  transition: all 0.4s;
}

.botao:hover {
  animation: expandir 0.8s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 5px #FFF);
}

.botao-play, .botao-pause {
  width: 6rem;
}

.botao-pause {
  display: none;
}

@keyframes girar {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes girarReverso {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes expandir {
  0% {
    transform: scale(100%);
  }

  100% {
    transform: scale(120%);
  }
}